
body {
  background: -webkit-linear-gradient(left top,#111, #333);;
  font-family: serif;
  color: #bbb;
  margin: 30px 0;
  padding: 0;
  font-size: 20px;
}
main, header{
  margin:0 30px;
}
h1{
color: #8e4f0c;
font-family: 'Ruthie', cursive;
font-size: 100px;
font-weight: normal;
margin:5px;
line-height: .7;
}
h2{
color: #77b9c6;
font-family: 'Ruthie', cursive;
font-weight: normal;
font-size: 50px;
margin:15px;
}
aside{
 border:1px solid #333;
clear:both;
width: 100%;
 background: -webkit-linear-gradient(left top,#111, #333);
 margin-top: 5px;
 padding: 10px;
}
/*a{
color:#d7efe8;
}
a:hover  {
  color:#ffc600;
}
ul{
  padding:0;
  margin:0;
}
nav{
clear:both;
float:left;
margin-right: 30px;
font-size: 20px;
}
.navlink{
  display:block;
  border:1px solid #333;
  line-height:1;
  color:#bbb;
  text-decoration:none;
  text-align: center;
  outline:0;
  margin: 100px, 0;
  padding: 10px;
  cursor:pointer;
  border-radius: 0%;
  font-weight:bold;
  background: -webkit-linear-gradient(left bottom,#222, #555);
  width:100px;
  height:40px;
}
.navlink:hover{
color:#6b4e0c;
}
*/
#thumbnailsDiv{
  display: block;
  width:30%;
  margin-bottom: 25px;
}
.thumbnail{
  width:35%;
  border: 1px #111 solid;
  margin-right:25px;
  margin-bottom: 0;
  float:left;
}
.thumbnail:hover{
  cursor:pointer;
  border: solid 1px #8e4f0c;
}
footer{
  clear: both;
  margin-top: 30px;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}